.ctnFlex{
    display: flex;
    height:80vh;
    justify-content: space-between;
    text-align: center;
}
h3{
    font-size:2.5rem;
    
}
.leftPosition{
    width:43%;
    margin-left: 10%;
    margin-top: 5%;
}
.rightPosition{
    width:50%;
    float:right;
    margin-left: 5%;
    margin-top: 8%;
}
.danger{
    background-color: red !important;
}